$header-size: calc(369px - 3rem); // was 369px, added 3rem padding at bottom (.py-5) and used min-height for small screen devices display

.action-head-wrapper {
  min-height: $header-size;
  @extend .m-0;
  @extend .py-5;

  &.Social {
    background-image: url("images/EP.ORG_Header_Contributions_Violet-06.jpg");
    background-size: cover;
    background-repeat: repeat-x;
  }

  &.conomique {
    background-image: url("images/EP.ORG_Header_Contributions_Jaune-06.jpg");
    background-size: cover;
    background-repeat: repeat-x;
  }

  &.Gouvernance {
    background-image: url("images/EP.ORG_Header_Contributions_Orange-06.jpg");
    background-size: cover;
    background-repeat: repeat-x;
  }

  &.Territoire {
    background-image: url("images/EP.ORG_Header_Contributions_Bleu-06.jpg");
    background-size: cover;
    background-repeat: repeat-x;
  }

  &.Environnemental {
    background-image: url("images/EP.ORG_Header_Contributions_Vert-06.jpg");
    background-size: cover;
    background-repeat: repeat-x;
  }

  .action-head {
    .action-head-title {
      font-size: $xd-ratio*76px;
      font-weight: bold;
      color: $ep-text-color-light;
      @extend .m-0;

      @include media-breakpoint-down(xs){
        text-align: center;
      }
    }
  }
}

.action-head-block {
  display: flex;
  flex-direction: row;

  @include media-breakpoint-down(xs){
    flex-direction: column;
    align-items: center;
    text-align: center !important;
  }

  .logo-nature {
    height: 57px;
    background-repeat: no-repeat;
    width: 200%; // 200 is acceptable here as 200% of 33% of .first below won't overflow screen, it allows logo to show without cropping on small devices.

    @include media-breakpoint-down(xs){
      background-position: center;
      width: 100%;
    }

    &.Social {
      background-image: url("images/EP_Logos_Social__1x_.png");
    }

    &.conomique {
      background-image: url("images/EP_Logos_Eco__1x_.png");
    }

    &.Gouvernance {
      background-image: url("images/EP_Logos_Gouv__1x_.png");
    }

    &.Territoire {
      background-image: url("images/EP_Logos_Territ__1x_.png");
    }

    &.Environnemental {
      background-image: url("images/EP_Logos_Enviro__1x.png");
    }
  }

  p {
    font-size: $xd-ratio*25px;
  }

  .first {
    width: 33.3%;

    @include media-breakpoint-down(xs){
      margin-bottom: 1rem;
      width: unset;
    }
  }

  .maturity, .financialinvest, .humaninvest {
    width: 22.2%;
    align-self: flex-end;

    @include media-breakpoint-down(xs){
      width: unset;
      margin-bottom: 2rem;
      align-self: center;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .taxo-title {
      margin-bottom: 0;
      font-size: $xd-ratio*25px;
      text-align: center;
    }

    .taxo-value {
      font-size: $xd-ratio*21px;
      text-align: center;

      @include media-breakpoint-down(xs){
        margin-bottom: 0;
      }
    }

    .taxo-icon-icon {
      width: 115px;
      height: 47px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }

  .maturity {
    .Premiresactions {
      background-image: url("images/EP_Logos_Enviro_ProgresBar_1__1x.jpg");
    }

    .Progresser {
      background-image: url("images/EP_Logos_Enviro_ProgresBar_2__1x.jpg");
    }

    .Allerplusloin {
      background-image: url("images/EP_Logos_Enviro_ProgresBar_3__1x.jpg");
    }
  }

  .financialinvest {
    .Faible {
      background-image: url("images/EP_Logos_Enviro_EURO_1__1x.jpg");
    }

    .Moyen {
      background-image: url("images/EP_Logos_Enviro_EURO_2__1x.jpg");
    }

    .Important {
      background-image: url("images/EP_Logos_Enviro_EURO_3__1x.jpg");
    }
  }

  .humaninvest {
    .Faible {
      background-image: url("images/EP_Logos_Enviro_MAN_1__1x.jpg");
    }

    .Moyen {
      background-image: url("images/EP_Logos_Enviro_MAN_2__1x.jpg");
    }

    .Important {
      background-image: url("images/EP_Logos_Enviro_MAN_3__1x.jpg");
    }
  }
}

.action-block {
  &.Social .block-title-wrapper {
    background-color: rgba(179, 82, 159, 0.31);
  }

  &.conomique .block-title-wrapper {
    background-color: rgba(248, 196, 78, 0.31);
  }

  &.Gouvernance .block-title-wrapper {
    background-color: rgba(237, 114, 51, 0.31);
  }

  &.Territoire .block-title-wrapper {
    background-color: rgba(72, 162, 218, 0.31);
  }

  &.Environnemental .block-title-wrapper {
    background-color: rgba(88, 173, 77, 0.31);
  }

  .block-title-wrapper {
    padding-top: 1px;
    padding-bottom: 1px;

    margin-bottom: 20px;

    h2 {
      font-weight: bold;
    }
  }
}