.p-block {
  padding: $bloc-padding-y 0 !important;
}

.pt-block {
  padding-top: $bloc-padding-y !important;
}

.pb-block {
  padding-bottom: $bloc-padding-y !important;
}

.block {
  > .container {
    @extend .p-block;

    @include media-breakpoint-down(xs) {
      padding-left: map_get($spacers, 2) !important;
      padding-right: map_get($spacers, 2) !important;
    }
  }
}

.block.block-compact-top {
  > .container {
    padding-top: 0 !important;
  }
}

.block.block-compact-bottom {
  > .container {
    padding-bottom: 0 !important;
  }
}

.nested-block {

  @extend .d-flex;

  // Default to justify content between.
  @extend .justify-content-between;

  // nested block size control
  $nested-sizes: (
  );

  // Computational initialization of map.
  $nested-sizes-count: 6;
  @for $i from 1 to $nested-sizes-count {
    $nested-sizes: map-merge($nested-sizes, ($i: 0% + (100 / $i)));
  }

  @include media-breakpoint-up(lg) {

    @each $i, $percent in $nested-sizes {
      .nested-block-#{$i} {
        width: $percent;
      }

      @each $index, $space in $spacers {
        .nested-block-#{$i}.mx-#{$index} {
          width: calc(#{$percent} - 2 * #{$space}) !important;
        }
      }

      .nested-block-#{$i}:first-child {
        margin-left: 0 !important;
      }
      .nested-block-#{$i}:last-child {
        margin-right: 0 !important;
      }
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column !important;
    @each $i, $percent in $nested-sizes {
      .nested-block-#{$i} {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .nested-block-#{$i}:not(:last-child) {
        margin-bottom: map-get($spacers, 4);
      }
    }

    &.media-last {
      flex-direction: column-reverse !important;
    }
  }

  .block {
    > .container {
      padding: 0 0 !important;
    }

    .rich-content {
      padding: 0 !important;
    }

    @include media-breakpoint-down(md) {
      img {
        margin-bottom: map_get($spacers, 3);
      }
    }
  }
}

// Allows justify content override with bootstrap classes
.nested-block.justify-content-center {
  @extend .justify-content-center;
}

.nested-block.justify-content-start {
  @extend .justify-content-start;
}

.nested-block.justify-content-end {
  @extend .justify-content-end;
}
