.btn {
  margin: 2rem 0;
}

.btn:last-child {
  margin-bottom: 0;
}

.btn-green {
  @include button-variant($cedreo-green, $cedreo-green, $cedreo-green-dark, $cedreo-green-dark);
}

.btn-black-outline-white {
  @include button-variant($cedreo-carbon, $cedreo-white, $cedreo-carbon, $cedreo-white);
}

.btn-inline-green {
  @include button-variant($cedreo-green, $cedreo-white, $cedreo-green-dark, $cedreo-white);
}

.btn-pink {
  @include button-variant($cedreo-pink, $cedreo-pink, $cedreo-pink-dark, $cedreo-pink-dark);
}

.btn-outline-pink {
  @include button-outline-variant($cedreo-pink, $cedreo-white, $cedreo-pink-dark, $cedreo-pink-dark);
}

.btn-pink-outline-white {
  @include button-outline-variant($cedreo-white, $cedreo-pink-dark, $cedreo-white, $cedreo-pink-dark);
}

.btn-pink-outline-white-hover-pink {
  @include button-outline-variant($cedreo-white, $cedreo-white, $cedreo-pink-dark, $cedreo-white);
}

.btn-transparent {
  @extend .bg-transparent;
  @extend .border-1;
}

.btn-transparent-underline {
  @extend .bg-transparent;
  color: $cedreo-white;
  font-weight: 500;
  text-decoration: underline;
  margin: 0;

  @include hover {
    color: $cedreo-white;
    text-decoration: underline;
  }
}

.bg-cedreo-green {

  .btn-transparent {
    @extend .text-cedreo-white;
    @extend .border-cedreo-white;
  }

  .btn-transparent:hover {
    @extend .bg-cedreo-white;
    @extend .text-cedreo-green;
  }
}

