$footer-margin: 2rem;

footer {
  background-color: $ep-background-black;
  padding-top: 2rem;

  .logo-row {
    margin: 0 $footer-margin 0 $footer-margin;
    color: $ep-text-color-light;

    .footer-logo {
      width: 150px;
    }
  }

  .menu-row {
    margin: 0 $footer-margin 40px $footer-margin;
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(md){
      flex-direction: column;
    }

    .left-menu {
      .nav-item {
        .nav-link {
          padding-left: 0;
          color: $ep-text-color-gray;
        }
      }
    }

    .search-action {
      flex-grow: 1;
      padding: 0.5rem 0 0 0;
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-down(md){
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
      }

      .search-block {
        padding: 0 !important;
        align-items: flex-start !important;

        .search-row-title {
          padding: 0;
          text-align: left;
          color: $ep-text-color-gray;

          h4 {
            font-size: $ep-font-size;
            font-weight: $ep-font-weight;
            line-height: $ep-line-height;

            @include media-breakpoint-down(md){
              margin-bottom: 1rem !important;
            }
          }
        }

        .search-row-1 {
          max-width: 100%;
        }
      }
    }

    .social-menu {
      padding-top: 0.5rem;
      margin: 0 $footer-margin 0 $footer-margin;

      @include media-breakpoint-down(md){
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
        padding-top: 0 !important;
      }

      .social-menu-title {
        text-align: left;
        color: $ep-text-color-gray;

        h4 {
          font-size: $ep-font-size;
          font-weight: $ep-font-weight;
          line-height: $ep-line-height;
        }
      }

      .social-menu-links {
        display: flex;
        flex-direction: row;

        a {
          color: $ep-text-color-light;
        }
      }
    }
  }


  .bottom-row {
    margin: 0 $footer-margin 0 $footer-margin;
    border-top: 1px $ep-background-gray solid;
    height: 60px; // Fix height as it is an empty row.
  }
}