.ep-header.navbar {
  .nav-item {
    .nav-link {
      color: $ep-text-color-dark;
    }
  }
  .nav-item.active {
    .nav-link {
      @extend .btn;
      @include button-variant($ep-button-color-blue, $ep-button-color-blue);
      color: $ep-text-color-light;
    }
  }
}

// Only on desktop
@include media-breakpoint-up(lg) {
  .header-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1020;
  }
}

.table-of-content {
  background-color: $ep-background-black;

  .container {
    padding: 1rem;
  }

  a {
    padding-left: 1rem;
    color: $ep-text-color-light;

    &:hover {
      text-decoration: none;
    }
  }
}

.header-logo {
  width: 150px;
}