/**************************
 *       Navbar
 **************************/
.navbar {
  .navbar-brand {
    font-size: 1rem !important;

    img {
      height: $navbar-brand-height;
    }
  }

  button:focus {
    outline: 1px dotted;
    outline: 5px auto $cedreo-green;
  }

  .navbar-header-main > ul > li.active {
    @extend .border-bottom;
    @extend .border-3;
    @extend .border-cedreo-green;
    margin-bottom: -1.35rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 0 !important;
      border: none !important;
    }
  }

  .dropdown-menu .nav-item {
    white-space: nowrap;
  }

  .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  @include media-breakpoint-down(md) {

    .dropdown-menu {
      display: block !important;
    }

    li.dropdown ul {
      padding-left: 2rem;
      padding-top: 0;
      padding-bottom: 0;
    }

    .header-nav-container {
      flex-wrap: wrap !important;
    }
  }

  //  @include media-breakpoint-up(lg) {
  //    .header-nav-container {
  //      padding-left: $navbar-padding-y;
  //      padding-right: $navbar-padding-y;
  //    }
  //  }
}

// Only on desktop
@include media-breakpoint-up(lg) {
  .header-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1020;
  }
}

// Margin between cta
.header-nav-container .cta .hs-cta-wrapper {
  margin-right: 0.7rem;

  &:last-child {
    margin-right: 0;
  }
}

/**************************
 * Breadcrumb
 **************************/
.breadcrumb-header {
  position: relative;
  height: 0;

  .breadcrumb {
    @extend .padding-nav-bias;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 0;
    flex-wrap: nowrap;
  }

  .breadcrumb-item:not(:last-child) {
    flex-shrink: 0;
  }

  .breadcrumb-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .breadcrumb-item.active i, .breadcrumb-item.active {
    @extend .text-cedreo-green;
  }

  .breadcrumb-item i, .breadcrumb-item a {
    @extend .text-cedreo-gray;
  }

  .breadcrumb-item a:hover {
    @extend a.text-cedreo-gray:hover;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    transform: scale(.5);
  }
}

/**************************
 * Cookie bar
 **************************/
.cookie-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 1rem 0;

  p {
    margin: 0;
  }

  .btn {
    margin: 0;
  }
}
