iframe {
  border: none;
}

.img-fluid-h-1dot5r {
  max-height: calc(100% - 1.5rem);
  width: auto;
}

.shortcode-content {
  img {
    @extend .img-fluid
  }
}

.text-image-shortcode {
  @extend .d-flex;

  > div {

    @extend .w-100;
    @extend .w-lg-50;

    &:first-child {
      @extend .pr-lg-2;
    }

    &:last-child {
      @extend .pl-lg-2;
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column !important;
    img {
      margin-bottom: map_get($spacers, 3);
    }
    &.media-last {
      flex-direction: column-reverse !important;
    }
  }
}

@include media-breakpoint-up(lg) {
  .home-gallery-grid {
    .gallery-grid-first {
    }

    .gallery-grid-top-item {
      padding-left: 0.25rem;
    }

    .gallery-grid-bottom-item {
      padding-left: 0.25rem;
    }
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  > div {
    cursor: pointer;
  }
}

.modal-xl {
  @extend .modal-lg;
}

@include media-breakpoint-up(lg) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@include media-breakpoint-up(xl) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .modal-xl {
    max-width: 80%;
  }
}

.link-hover-trigger:hover {
  cursor: pointer;

  ~ a.link-hover, ~ * a.link-hover, a.link-hover {
    @extend a:hover;
  }

  ~ a.link-hover:not([href]), ~ * a.link-hover:not([href]), a.link-hover:not([href]) {
    text-decoration: underline !important;
  }
}

.content-only {
  @extend .blog-article
}

.shadowed {
  box-shadow: 5px 5px 15px -5px $cedreo-gray-shadow;
}

.padding-nav {
  padding-top: $bloc-padding-y;
  padding-bottom: $bloc-padding-y;
  padding-left: $navbar-padding-x;
  padding-right: $navbar-padding-x;
}

.padding-nav-bias {
  padding: 1.5rem;
}

.navbar {
  white-space: nowrap;
}

@include media-breakpoint-down(md) {
  .navbar {
    padding: 1rem 1.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .padding-nav-bias {
    padding-top: $bloc-padding-y;
    padding-bottom: $bloc-padding-y;
    padding-right: $navbar-padding-x;
    padding-left: $navbar-padding-x-bias;
  }
}

.p-block {
  padding: $bloc-padding-y 0 !important;
}

.pt-block {
  padding-top: $bloc-padding-y !important;
}

.pb-block {
  padding-bottom: $bloc-padding-y !important;
}

@media screen and (max-width: 520px) {
  .responsive-carousel iframe {
    height: 260px !important;
  }
}

.c-pointer {
  cursor: pointer;
}

.flex-grow-2 {
  flex-grow: 2;
}
