.search-block {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .pt-5;
  @extend .pb-4;


  .search-row-title {
    color: $ep_text-color-light;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .search-row-1 {
    @extend .d-flex;
    @extend .mb-3;
    width: 100%;

    @include media-breakpoint-down(md){
      max-width: unset;
    }

    .search-input {
      margin-right: 0.5rem;
      flex-grow: 2;

      .ais-SearchBox-input {
        @extend .form-control;
        background-color: $ep-background-gray;
      }
    }

    .btn {
      margin-left: 0.5rem;

      @include button-variant($ep-button-color-blue, $ep-button-color-blue);
      color: $ep-text-color-light;
    }
  }

  .search-row-2 {
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .justify-content-between;
    width: 100%;

    .refinement-select {
      @extend .mb-3;
      .dropdown button {
        @extend .btn;
        @include button-variant($ep-button-color-dark-blue, $ep-button-color-dark-blue);
        color: $ep-text-color-light;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .search-result-block-container .search-result-block #hits .card-wrapper {
    width: 99% !important;
  }
}

.search-result-block-container {
  background-color: $ep-background-gray;

  .search-result-block {
    @extend .py-5;

    a:hover {
      text-decoration: none;
    }

    .Social {
      .nature-icon {
        background-image: url("images/EP_Logos_Social__1x_.png");
      }
    }

    .conomique {
      .nature-icon {
        background-image: url("images/EP_Logos_Eco__1x_.png");
      }
    }

    .Gouvernance {
      .nature-icon {
        background-image: url("images/EP_Logos_Gouv__1x_.png");
      }
    }

    .Territoire {
      .nature-icon {
        background-image: url("images/EP_Logos_Territ__1x_.png");
      }
    }

    .Environnemental {
      .nature-icon {
        background-image: url("images/EP_Logos_Enviro__1x.png");
      }
    }

    #hits {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;

      .card-wrapper {
        width: 49%;
        margin-bottom: 20px;

        &> a {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .card-top {
          height: 1rem;
          border-radius: 25px 25px 0 0;
        }

        .card {
          border: 0;
          border-left: 1px $ep-background-white solid;
          border-right: 1px $ep-background-white solid;
          background-color: $ep-background-white;

          // So the card extend to the additional height the next card may provide
          flex-grow: 2;

          .card-header {
            margin: 25px 25px 15px 25px;
            padding: 0;
            background-color: $ep-background-white;
            border-bottom: 1px $ep-text-color-gray solid;

            @include media-breakpoint-down(xs){
              text-align: center;
            }

            // Extra height is given to card header.
            flex-grow: 2;

            .nature-icon {
              width: 100%;
              height: 57px;
              background-size: auto;
              background-repeat: no-repeat;
              background-position: center left;

              @include media-breakpoint-down(xs){
                background-position: center;
              }
            }

            .card-title {
              padding-top: 20px;
              padding-bottom: 15px;

              h2 {
                color: $ep-text-color-dark;
                font-size: $xd-ratio*45px;
                font-weight: bold;
              }
            }
          }

          .card-taxo {
            padding: 0 25px 0 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $ep-text-color-dark;

            @include media-breakpoint-down(xs){
              flex-direction: column;
              align-items: center;
            }

            .maturity, .financialinvest, .humaninvest {
              width: 33%;

              @include media-breakpoint-down(xs){
                width: unset;
                margin-bottom: 2rem;
              }

              display: flex;
              flex-direction: column;
              align-items: center;

              .taxo-title {
                margin-bottom: 0;
                font-size: $xd-ratio*25px;
                text-align: center;
              }

              .taxo-value {
                font-size: $xd-ratio*21px;
                text-align: center;

                @include media-breakpoint-down(xs){
                  margin-bottom: 0;
                }
              }

              .taxo-icon-icon {
                width: 115px;
                height: 47px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom center;
                margin-top: auto;
              }
            }

            .maturity {
              .Premiresactions {
                background-image: url("images/EP_Logos_Enviro_ProgresBar_1__1x.jpg");
              }

              .Progresser {
                background-image: url("images/EP_Logos_Enviro_ProgresBar_2__1x.jpg");
              }

              .Allerplusloin {
                background-image: url("images/EP_Logos_Enviro_ProgresBar_3__1x.jpg");
              }
            }

            .financialinvest {
              .Faible {
                background-image: url("images/EP_Logos_Enviro_EURO_1__1x.jpg");
              }

              .Moyen {
                background-image: url("images/EP_Logos_Enviro_EURO_2__1x.jpg");
              }

              .Important {
                background-image: url("images/EP_Logos_Enviro_EURO_3__1x.jpg");
              }
            }

            .humaninvest {
              .Faible {
                background-image: url("images/EP_Logos_Enviro_MAN_1__1x.jpg");
              }

              .Moyen {
                background-image: url("images/EP_Logos_Enviro_MAN_2__1x.jpg");
              }

              .Important {
                background-image: url("images/EP_Logos_Enviro_MAN_3__1x.jpg");
              }
            }
          }
        }

        .card-bottom {
          height: 1rem;
          border-radius: 0 0 25px 25px;
          background-color: $ep-background-white;
        }
      }
    }

    // color.
    .conomique {
      .card-top {
        background-color: $ep-theme-color-yellow;
      }

      .nature {
        color: $ep-theme-color-yellow;
      }
    }

    .Gouvernance {
      .card-top {
        background-color: $ep-theme-color-orange;
      }

      .nature {
        color: $ep-theme-color-orange;
      }
    }

    .Environnemental {
      .card-top {
        background-color: $ep-theme-color-green;
      }

      .nature {
        color: $ep-theme-color-green;
      }
    }

    .Territoire {
      .card-top {
        background-color: $ep-theme-color-blue;
      }

      .nature {
        color: $ep-theme-color-blue;
      }
    }

    .Social {
      .card-top {
        background-color: $ep-theme-color-pink;
      }

      .nature {
        color: $ep-theme-color-pink;
      }
    }
  }
}