/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/inter/inter-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('webfonts/inter/inter-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('webfonts/inter/inter-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('webfonts/inter/inter-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('webfonts/inter/inter-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('webfonts/inter/inter-v2-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

* {
  font-family: "Inter", serif;
}

.block-bg-image {
  color: $ep-text-color-light;
}

.text-center {
  .rich-content {
    .d-flex.cta {
      @extend .justify-content-center;
    }
  }
}

.text-left {
  .rich-content {
    .d-flex.cta {
      @extend .justify-content-start;
    }
  }
}

.text-right {
  .rich-content {
    .d-flex.cta {
      @extend .justify-content-end;
    }
  }
}

.text-theme-green {
  color: $ep-theme-color-green;
}

.text-theme-blue {
  color: $ep-theme-color-blue;
}

.text-theme-orange {
  color: $ep-theme-color-orange;
}

.text-theme-yellow {
  color: $ep-theme-color-yellow;
}

.text-theme-pink {
  color: $ep-theme-color-pink;
}

// Default size
h2 {
  font-size: $xd-ratio*45px;
}

div, p, span {
  font-size: $xd-ratio*23px;
}

// 23 menu (medium)
// acceuil h1 40
// chiffe 76
// a cote 30
// 3eme truc 35
// h1 block 50
// 30 corps
// 22 bouton

// Card action 45
// 25 titre des icones
// bandeau titre -> couleur mais en 0.31 d'alpha
// titre des pages en haut et / 2 de la hauteur image de fond plutôt que de couleur
// -> EP > WEBSITE > RECHER GRAPHIQUE > Contribution > Header
//