/**************************
 * Color variable
 **************************/
$ep-theme-color-green: rgb(88, 173, 77);
$ep-theme-color-orange: rgb(237, 114, 51);
$ep-theme-color-yellow: rgb(248, 196, 78);
$ep-theme-color-pink: rgb(179, 82, 159);
$ep-theme-color-blue: rgb(72, 162, 218);

$ep-background-gray: rgb(247, 247, 247);
$ep-background-black: rgb(45, 54, 82);
$ep-background-white: #ffffff;
$ep-text-color-light: #ffffff;
$ep-text-color-dark: #000000;
$ep-text-color-gray: #a0a0a0;
$ep-button-color-blue: $ep-theme-color-blue;
$ep-button-color-dark-blue: rgb(45, 54, 82);
$ep-button-color-orange: $ep-theme-color-orange;

// bootstrap
$enable-rounded : true;

$input-border-color: $ep-background-gray;
$input-border-radius: 25px;

$btn-border-radius: 25px;
$btn-padding-x: 20px;

$card-border-radius: 0px;

$theme-colors: (
        "light": $ep-background-gray
);

// ep
$ep-line-height: 24px;
$ep-font-size: 1rem;
$ep-font-weight: 400;
$bloc-padding-y: 2.5rem;

// Ratio xd to font to have a more close to the design experience.
$xd-ratio: 0.7;

/**************************
 * Bootstrap and specific element css
 **************************/
@import "bootstrap/scss/bootstrap";
@import "header";
@import "text";
@import "button";
@import "backgrounds";
@import "blocks";
@import "footer";

// Blocks style.
@import "search_block";
@import "logos_block";
@import "action";