{{with .context}}
{{- partial "utils/block_style.html" (dict "context" .style "pagecontext" $.pagecontext) -}}
{{$blockstyle := $.pagecontext.Scratch.Get "blockstyle"}}

<div class="container-fluid p-0 {{$blockstyle.cssclasses}} argument-block"
     style="{{$blockstyle.inlinestyle}}">

    <div class="container">
        {{- partial "utils/block_content.html" (dict "context" .content "pagecontext" $.pagecontext "cssclasses" "w-100 pb-5") -}}

        <div class="nested-block">
            {{range .parts}}
            <div class="d-flex flex-column nested-block-{{len $.context.parts}} p-4 mx-2 bg-cedreo-transparent-black-62">
                {{with .image}}
                <div class="d-flex mb-4">
                    {{- partial "utils/responsive-image.html" (dict "image" .image "class" "img-fluid mx-auto" "alt" .alt "context" $.pagecontext "smallSize" "8" "largeSize" "3") -}}
                </div>
                {{end}}
                <h3 class="text-center minh-lg-4r">{{.title}}</h3>
                {{ partial "shortcode/decode_shortcode_markdownify.html" (dict "content" .text "pagecontext" $.pagecontext "cssclasses" "p-0 text-center mb-4") }}

                {{with .link}}
                <p class="text-center mt-auto mb-0">
                    {{- partial "utils/link.html" (dict "context" . "class" "img-fluid" "pagecontext" $.pagecontext) -}}
                </p>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
</div>
{{end}}