{{with .context}}
{{$uniqueID := printf "feature-%s" (md5 (delimit . ""))}}

{{- partial "utils/block_style.html" (dict "context" .style "pagecontext" $.pagecontext) -}}
{{$blockstyle := $.pagecontext.Scratch.Get "blockstyle"}}
<div class="container-fluid p-0 {{$blockstyle.cssclasses}} block-features"
     style="{{$blockstyle.inlinestyle}}">

    <div class="container">
        {{- partial "utils/block_content.html" (dict "context" .content "pagecontext" $.pagecontext "cssclasses" "w-100") -}}
        <div class="pt-5 mb-3 features-menu">
            <ul class="nav nav-pills nav-fill nav-cedreo-tab">
                {{ range $index, $part := .parts }}
                <li class="nav-item">
                    <a class="nav-link {{ if eq $index 0 }} active {{end}}" data-toggle="tab" href="#{{$uniqueID}}-{{$index}}">{{$part.title}}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="container tab-content">
            {{ range $index, $part := .parts }}
            <div class="tab-pane fade {{ if eq $index 0 }} show active {{end}}" id="{{$uniqueID}}-{{$index}}">
                <h4 class="feature-title cedreo-smaller-h4">{{$part.title}}</h4>
                <div class="d-flex pt-4">
                    <div class="w-100 m-auto {{with $part.image}}w-lg-50{{end}}">
                        {{- partial "utils/block_content.html" (dict "context" .content "pagecontext" $.pagecontext "cssclasses" "m-auto p-0") -}}
                    </div>
                    {{with $part.image}}
                    <div class="w-100 w-lg-50">
                        {{$cssclasses := "img-fluid m-auto"}}
                        {{with .shadowed}}
                        {{$cssclasses = printf "%s %s" $cssclasses (index (where $.pagecontext.Site.Data.style.mediaoptions "name" "eq" "shadowed") 0).css}}
                        {{end}}
                        {{- partial "utils/responsive-image.html" (dict "image" .image "class" $cssclasses "alt" .alt "context" $.pagecontext "smallSize" "100" "largeSize" "50") -}}
                    </div>
                    {{end}}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{end}}