{{ with .context }}

{{- partial "utils/block_style.html" (dict "context" .style "pagecontext" $.pagecontext) -}}
{{$blockstyle := $.pagecontext.Scratch.Get "blockstyle"}}

{{$flex := ""}}
{{$size := "w-100"}}
{{$title := ""}}
{{$text := ""}}
{{$cta := ""}}
{{$media := ""}}
{{$textcss := ""}}
{{$htmlId := printf "hiring-%s" (md5 (delimit .content.richtext ""))}}

<!--@formatter:off-->
{{with (index .content.media 0)}}
    {{if eq .template "image"}}
        {{$media = partial "utils/responsive-image.html" (dict "image" .image "class" "img-fluid mx-auto" "alt" .alt "context" $.pagecontext "smallSize" "100" "largeSize" "100")}}
    {{else if eq .template "video"}}
        {{$media = partial "utils/responsive-video.html" (dict "context" . "pagecontext" $.pagecontext)}}
    {{end}}
{{end}}
<!--@formatter:on-->

<!--@formatter:off-->
{{$contentWithoutTitle := (dict "richtext" .content.richtext "align" .content.align)}}
{{$divcontent := partial "utils/block_content.html" (dict "context" $contentWithoutTitle "cssclasses" $size "pagecontext" $.pagecontext)}}
{{$divmedia := ""}}
{{with $media}}
{{$divmedia = (printf "<div class='m-auto offer-image %s %s'>%s</div>" $size $textcss $media) | safeHTML}}
{{end}}
<!--@formatter:on-->

<div class="modal fade" id="{{$htmlId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="{{$blockstyle.cssclasses}} hiring-offer" style="{{$blockstyle.inlinestyle}}">
                    {{with .content}}
                    {{$title := partial "utils/block_title.html" (dict "context" (dict "text" .title "level" .titlelevel) "pagecontext" $.pagecontext "cssclasses" "w-100")}}
                    {{with $title}}
                    <div class="w-100 rich-content text-center">
                        {{.}}
                    </div>
                    {{end}}
                    {{end}}
                    <div class="text-center offer-type">
                        <p class="badge badge-secondary">{{.type}}</p>
                    </div>
                    {{with $divmedia}}
                    {{.}}
                    {{end}}
                    {{with $divcontent}}
                    {{.}}
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hiring-offer-line px-2 d-flex w-100" data-toggle="modal" data-target="#{{$htmlId}}">
    <div>
        <p class="my-2">{{.content.title}}</p>
    </div>
    <div class="flex-grow-1"></div>
    <div>
        <p class="my-2"><span class="badge badge-secondary">{{.type}}</span></p>
    </div>
    <div>
        <p class="px-2 text-cedreo-green my-2"><i class="fas fa-search"></i></p>
    </div>
</div>

{{end}}