{{with .context}}
{{- partial "utils/block_style.html" (dict "context" .style "pagecontext" $.pagecontext) -}}
{{$blockstyle := $.pagecontext.Scratch.Get "blockstyle"}}
<div class="container-fluid p-0 d-flex flex-column {{$blockstyle.cssclasses}}"
     style="{{$blockstyle.inlinestyle}}">
    <div class="container">
        {{with .title}}
        {{$titlecontext := dict "text" . "level" $.context.titlelevel}}
        <div class='w-100 rich-content text-center pb-block'>
            {{- partial "utils/block_title.html" (dict "context" $titlecontext "pagecontext" $.pagecontext "cssclasses" "w-100") -}}
        </div>
        {{end}}
        {{range .offers}}
        {{- partial "main/offer_block.html" (dict "pagecontext" $.pagecontext "context" .) -}}
        {{end}}
    </div>
</div>
{{end}}
