{{with .context}}
{{- partial "utils/block_style.html" (dict "context" .style "pagecontext" $.pagecontext) -}}
{{$blockstyle := $.pagecontext.Scratch.Get "blockstyle"}}

<div class="container-fluid p-0 {{$blockstyle.cssclasses}}"
     style="{{$blockstyle.inlinestyle}}">

    <div class="container">
        {{- partial "utils/block_content.html" (dict "context" .content "pagecontext" $.pagecontext "cssclasses" "w-100 pb-5") -}}

        <div class="nested-block">
            {{ range .parts }}
            <div class="d-flex flex-column mx-1 nested-block-{{len $.context.parts}}">
                <div class="w-25vw w-lg-7vw w-xl-7vw mx-auto">
                    <img class="img-fluid" src="{{(replaceRE "^/[a-z][a-z]/" "/" .image.image) | relURL}}" alt="{{.image.alt}}">
                </div>
                <p class="mx-auto font-style-h1 text-cedreo-green text-center">{{.title}}</p>
                <p class="mx-auto text-cedreo-gray text-center">{{.text}}</p>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{end}}