<div class="block-team">
    <div class="d-flex flex-wrap justify-content-left">
        {{ range .context.members }}
        <div class="w-md-50 w-lg-20 team-member">
            {{with .image}}
            {{- partial "utils/responsive-image.html" (dict "image" .image "class" "img-fluid mx-auto w-100" "alt" .alt "context" $.pagecontext "smallSize" "100" "largeSize" "20") -}}
            {{end}}
            <div class="team-overlay">
                <p class="h3 p-3 mt-2">{{.name}} <span class="team-job">{{.job}}</span></p>
                {{- partial "shortcode/decode_shortcode_markdownify.html" (dict "content" .text "pagecontext" $.pagecontext) -}}
            </div>
        </div>
        {{ end }}
    </div>
</div>