{{with .context}}
{{- partial "utils/block_style.html" (dict "context" .style "pagecontext" $.pagecontext) -}}
{{$blockstyle := $.pagecontext.Scratch.Get "blockstyle"}}

<div class="container-fluid p-0 text-center {{$blockstyle.cssclasses}}"
     style="{{$blockstyle.inlinestyle}}">
    <div class="container">
        {{- partial "utils/block_content.html" (dict "context" .content "pagecontext" $.pagecontext "cssclasses" "w-100") -}}
        <div class="mt-4">
            {{ .widget | safeHTML }}
        </div>
    </div>
</div>
{{end}}