{{with .context}}
<div class="d-flex">
    <div class="d-flex flex-column w-60">
        <div class="bg-cedreo-white">
            {{with .title}}
            <p class="pricing-title w-100 pl-4">
                {{. | safeHTML}}
            </p>
            {{end}}
        </div>
        <div class="bg-cedreo-white pl-4">
            <ul class="p-0">
                {{range .features}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </div>
    </div>
    <div class="bg-cedreo-gray text-center p-3 w-40">
        {{with .price}}
        <p class="w-100 price">
            {{if findRE "\\/.*" .}}
            <span>{{replaceRE "\\/.*" "" .}}</span><span>/{{replaceRE ".*?\\/" "" .}}</span>
            {{else}}
            <span></span><span class="price-specific">{{.}}</span>
            {{end}}
        </p>
        {{end}}
        {{with .text}}
        <p class="w-100 px-4 text-center">
            {{.}}
        </p>
        {{end}}
        <p class="w-100 rich-content">
            {{with .cta}}
            {{- partial "utils/cta.html" (dict "context" $.pagecontext "cta" (. | safeHTML)) -}}
            {{end}}
        </p>
    </div>
</div>
{{end}}