{{with .context}}
<div class="bg-cedreo-white">
    {{with .title}}
    <p class="pricing-title w-100 px-3 text-center">
        {{.}}
    </p>
    {{end}}
    {{with .text}}
    <p class="w-100 px-4 text-center">
        {{. | markdownify}}
    </p>
    {{end}}
</div>
<div class="bg-cedreo-gray text-center p-3 ">
    {{range $index, $price := .prices}}
    <p class="w-100 price {{if not (eq $index (sub (len $.context.prices) 1))}}d-none{{end}}" price-index='{{$index}}'>
        {{if findRE "(/|,|<br>).*" .}}
        <span>{{replaceRE "^([^/,(<br>)]*).*" "$1" . | safeHTML}}</span><span>{{replaceRE "^[^/,(<br>)]*" "" . | safeHTML}}</span>
        {{else}}
        <span></span><span class="price-specific">{{.}}</span>
        {{end}}
    </p>
    {{end}}
    <p class="w-100 rich-content">
        {{with .cta}}
        {{- partial "utils/cta.html" (dict "context" $.pagecontext "cta" (. | safeHTML)) -}}
        {{end}}
    </p>
    {{with .cta2}}
    <p class="w-100 rich-content">
        {{- partial "utils/cta.html" (dict "context" $.pagecontext "cta" (. | safeHTML)) -}}
    </p>
    {{else}}
    <p class="w-100 rich-content" style="visibility: hidden">
        &nbsp;
    </p>
    {{end}}
</div>
<div class="bg-cedreo-white p-4">
    {{$placeholder := ""}}
    {{with .featurestitle}}
    <p class="font-weight-bold">{{.}}</p>
    {{else}}
    {{$placeholder = "<p class='font-weight-bold' style='visibility: hidden'>&nbsp;</p>" | safeHTML }}
    {{end}}
    <ul class="p-0">
        {{range .features}}
        <li>{{.}}</li>
        {{end}}
        {{if ne (len .features) $.maxlenfeatures}}
        {{range (seq (sub $.maxlenfeatures (len .features)))}}
        <li style="visibility: hidden">{{.}}</li>
        {{end}}
        {{end}}
    </ul>
    {{with $placeholder}}
    {{.}}
    {{end}}
    {{with .anchortext}}
    <p class="pt-3">
        <a href="#" onclick="javascript:return scrollToFeatures()">{{.}}</a>
    </p>
    {{end}}
</div>
{{end}}