{{define "main"}}

<!--Get the home blog page config-->
{{$home := $.Site.GetPage "/blog"}}
<!--Get the current (taxonomy) blog page config-->
{{$current := $.Page}}

<!--we will use $home to get global values from blog configuration-->
{{$style := dict "background" (slice $home.Params.header) "content" "Fond image"}}
{{- partial "utils/block_style.html" (dict "context" $style "pagecontext" .) -}}
{{$blockstyle := .Scratch.Get "blockstyle"}}

<div class="d-flex container-fluid p-0 {{$blockstyle.cssclasses}}"
     style="{{$blockstyle.inlinestyle}}">
    <div class="d-flex flex-column w-100 minh-100">
        {{- with $home.Params.header.title | safeHTML -}}
        <h1 class="m-auto text-center">{{.}}</h1>
        {{- else -}}
        <h1 class="m-auto">{{$home.Title}}</h1>
        {{- end -}}
    </div>
</div>
<div class="block block-compact-top block-compact-bottom">
    <div class="container my-5 p-0">
        {{- partial "utils/taxonomies-menu.html" (dict "home" $home "current" $current "alltitle" $home.Params.alltitle "taxonomies" $.Site.Taxonomies.blogs "baseurl" "/blogs/" "context" .) -}}
    </div>
</div>

<!--range over current page data (taxonomy) if any change don't forget to propagate beneath -->
{{range (.Paginate (.Data.Pages.ByPublishDate.Reverse) $home.Params.postperpage).Pages}}
{{- partial "blog/blog_preview_block.html" . -}}
{{end}}
<div class="container p-0 mb-5">
    <div class="d-flex m-0 p-0">
        <div class="m-auto">
            {{template "_internal/pagination.html" .}}
        </div>
    </div>
</div>
{{end}}

{{define "canonical"}}
{{- $home := $.Site.GetPage "/blog" -}}
{{- $paginator := .Paginate (.Data.Pages.ByPublishDate.Reverse) $home.Params.postperpage -}}
    <link rel="canonical" href="{{$paginator.URL | absURL}}">

{{- if .Paginator.HasNext -}}
    <link rel="next" href="{{ .Paginator.Next.URL | absURL }}" />
{{- end -}}
{{- if .Paginator.HasPrev -}}
    <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}" />
{{- end -}}

<!-- Deal with noindex -->
{{- if not (eq 1 $paginator.PageNumber) -}}
    <meta name="robots" content="noindex">
{{- end -}}
{{ end }}

{{define "schema"}}
{{- with $.Page.Params.schemajson -}}
<script type="application/ld+json">
    {{ safeHTML (replace $.Page.Params.schemajson "\n" "") }}
</script>
{{- else -}}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type":"WebPage",
        "url":"{{$.Page.Permalink}}",
        "name":"{{$.Page.Title}}",
        "inLanguage":"{{$.Site.LanguageCode}}"
    }
</script>
{{- end -}}
{{end}}