$backgrounds: (
        white: $cedreo-white,
        gray: $cedreo-gray-background,
        gray-footer: $cedreo-gray-footer,
        carbon: $cedreo-carbon,
        green: $cedreo-green,
        spear-s: $cedreo-spear-s,
        spear-p: $cedreo-spear-p,
        spear-e: $cedreo-spear-e,
        spear-a: $cedreo-spear-a,
        spear-r: $cedreo-spear-r
);

@each $background, $bgcolor in $backgrounds {
  .bg-cedreo-#{$background} {
    background-color: $bgcolor !important;
  }
}

.bg-cedreo-white, .bg-cedreo-gray {
  a:hover:not(.btn) {
    color: darken($link-color, 15%);
  }
}

@for $i from 1 through 9 {
  .bg-cedreo-transparent-black-#{$i} {
    background-color: rgba(0, 0, 0, $i / 10);
  }
}
.bg-cedreo-transparent-black-62 {
  background-color: rgba(0, 0, 0, 0.62);
}

.bg-image-darkened {
}

.bg-image-centered {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-fixed {
  background-attachment: fixed;
}
