///////////////////////////
// Hubspot overrides
///////////////////////////
.cta-inline {
  @extend .w-100;
  position: relative;

  .actions {
    position: absolute;
    top: 0px;
    right: 0;

    input {
      margin-top: 0;
      height: calc(2.25rem + 2px); // to match .hs-form-field input
    }
  }
}

$i: 0;
@while $i < 100 {

  .cta-form-field-w-#{$i} {
    .hs-form-field {
      width: 0% + $i;
    }
  }

  @include media-breakpoint-only(xl){
    .cta-form-field-w-xl-#{$i} {
      .hs-form-field {
        width: 0% + $i !important;
      }
    }
  }

  @include media-breakpoint-only(lg){
    .cta-form-field-w-lg-#{$i} {
      .hs-form-field {
        width: 0% + $i !important;
      }
    }
  }

  @include media-breakpoint-only(md){
    .cta-form-field-w-md-#{$i} {
      .hs-form-field {
        width: 0% + $i !important;
      }
    }
  }

  @include media-breakpoint-only(sm){
    .cta-form-field-w-sm-#{$i} {
      .hs-form-field {
        width: 0% + $i !important;
      }
    }
  }

  @include media-breakpoint-only(xs){
    .cta-form-field-w-xs-#{$i} {
      .hs-form-field {
        width: 0% + $i !important;
      }
    }
  }

  $i: $i + 5;
}

.hs-form {
  .hs-form-field {
    @extend .form-group;

    input, select, textarea {
      @extend .form-control;
      background-clip: unset;
    }

    // Remove empty labels margins on top of form fields.
    label {

      display: inline;
      margin-bottom: 0;

      span:not(:empty) {
        display: inline-block;
        margin-bottom: .5rem;
      }

      span:empty {
        display: none !important;
      }
    }
  }

  .hs-richtext strong {
    font-weight: 500;
  }

  .hs-button {
    @extend .btn;
  }

  .primary {
    @extend .btn-primary;
  }

  .actions {
    @extend .text-right;
  }
}