%pricing-switches-ul {
  @extend .flex-nowrap;
  @extend .text-center;
}

%pricing-switches-all {
  @extend .border;
  @extend .border-1;
  @extend .border-cedreo-gray;
}

%pricing-switches-first {
  @extend %pricing-switches-all;
  border-right: 0 !important;
  border-radius: 5px 0px 0px 5px;
}

%pricing-switches-mid {
  @extend %pricing-switches-all;
  border-right: 0 !important;
  border-left: 0 !important;
}

%pricing-switches-last {
  @extend %pricing-switches-all;
  border-left: 0 !important;
  border-radius: 0px 5px 5px 0px;
}

.block-pricing {

  h1 {
    @extend h2;
  }

  &.prelaunch {
    .bg-cedreo-white, .bg-cedreo-gray {
      @extend .text-cedreo-carbon;
    }

    // Title div is maxed in size.
    .container > div:first-child {
      margin-right: auto;
      margin-left: auto;
      max-width: 60%;
      padding-bottom: map_get($spacers, 4) !important;
      @include media-breakpoint-down(md) {
        max-width: unset !important;
      }
    }

    // Next block div is maxed in size.
    + div.block .rich-content {
      padding: 0 1rem !important;
      max-width: 50%;
      margin-right: auto;
      margin-left: auto;
      @include media-breakpoint-down(md) {
        max-width: unset !important;
      }
    }
  }

  .img-container {

    @include media-breakpoint-down(sm) {
      display: none;
    }

    width: 9rem !important;
    margin-left: -9rem !important;
    pointer-events: none;

    img {
      margin-left: 100% !important;
    }
  }

  ul:not(.nav-pills) {
    list-style: none;
    margin-left: 1.5rem;

    & > li:before {
      content: "\f00c" !important;
      padding-right: .5rem;
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-variant: normal;
      font-weight: 900;
      text-rendering: auto;
      color: $cedreo-green;
      margin-left: -1.5rem;
    }
  }

  ul.nav-pills {
    @extend %pricing-switches-ul
  }

  .nav-item:first-child .nav-link {
    @extend %pricing-switches-first;
  }

  .nav-item:not(:first-child):not(:last-child) .nav-link {
    @extend %pricing-switches-mid;
  }

  .nav-item:last-child .nav-link {
    @extend %pricing-switches-last;
  }

  .price {

    > span:first-child {
      @extend .font-weight-bold;
      font-size: $cedreo-h2-size !important;

      * {
        font-size: $cedreo-h2-size !important;
      }
    }

    .price-specific {
      @extend .font-weight-bold;
      font-size: $cedreo-h4-smaller-size !important;
    }
  }

  .block-pricing-part {
    @extend .align-self-center;
    @extend .border-7;
    @extend .border-top;
    @extend .border-cedreo-green;
    box-shadow: 0px 0px 15px -5px black !important;
    position: relative;
    max-width: 40%;

    &.prelaunch {
      max-width: 60%;

      ul > li {
        padding-bottom: map_get($spacers, 2);
      }
    }

    @include media-breakpoint-down(md) {
      max-width: unset !important;
    }

    > div {
      p {
        @extend .mb-0;
        @extend .pb-3;
      }
    }

    .pricing-title {
      @extend h3;
      @extend .pt-3;
      @extend .text-cedreo-green;
      margin-bottom: 0 !important;
      font-weight: normal;
    }

    @include media-breakpoint-down(md) {
      *[style='visibility: hidden'] {
        display: none;
      }
    }

    &.block-pricing-part-highlighted {
      @extend .py-4;
      z-index: 2;
    }

    @include media-breakpoint-down(md) {
      &.block-pricing-part-highlighted {
        box-shadow: 0px 0px 30px -5px black !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}


.block-pricing-features {

  @include media-breakpoint-up(lg) {
    @for $i from 1 through 10 {
      .column-#{$i} {
        width: 0% + (100 - (2 * 100 / ($i + 2))) / ($i);
      }

      .column-#{$i}:first-child {
        width: 0% + 2 * 100 / ($i + 2);
      }
    }

    .pricing-buttons {
      display: none !important;
    }
  }

  @include media-breakpoint-down(md) {
    @for $i from 1 through 10 {
      .column-#{$i} {
        width: 40%;
      }

      .column-#{$i}:first-child {
        width: 60%;
      }
    }

    .pricing-head:not(:first-child) {
      display: none;
    }

    .pricing-line span:not(:first-child) {
      display: none;
      padding-left: map_get($spacers, 2) !important; // bootstrap constant use (mimics pl-2)
      padding-right: map_get($spacers, 2) !important; // bootstrap constant use (mimics pr-2)
    }
  }

  .pricing-head {
    @extend .bg-transparent;
    @extend .text-center;
    @extend .my-4;

    .pricing-title {
      @extend .text-cedreo-green;
    }

    .price {
      @extend .font-weight-bold;
    }
  }

  .pricing-heading {
    @extend .bg-cedreo-white;
    @extend .p-2;
    @extend .my-3;
    @extend .font-weight-bold;
  }

  .pricing-line {
    @extend .py-1;

    span:first-child {
      @extend .pl-2;
    }

    span:not(:first-child) {
      @extend .px-3;
    }
  }

  .pricing-line:not(:last-child) {
    @extend .border-1;
    @extend .border-bottom;
  }

  ul.nav-pills {
    @extend %pricing-switches-ul
  }

  .nav-item:first-child .nav-link {
    @extend %pricing-switches-first;
  }

  .nav-item:not(:first-child):not(:last-child) .nav-link {
    @extend %pricing-switches-mid;
  }

  .nav-item:last-child .nav-link {
    @extend %pricing-switches-last;
  }

}