.bloc-team {
  .team-member {
    position: relative;

    &:hover .team-overlay {
      display: block !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .team-overlay {
      display: none;
    }
  }

  .team-overlay {
    color: $cedreo-color-light;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    .team-job {
      font-style: italic;
      text-transform: uppercase;
      color: $cedreo-green;
    }
  }

  .rich-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}