<div class="container-fluid block block-compact-top block-compact-bottom">
    <div class="container border-top border-2 border-cedreo-gray mt-4 pb-3">
        <div class="d-flex justify-content-between mt-4">
            <p>
                {{ replace $.Site.Data.footer.copyright "%DATE%" (dateFormat "2006" now) | safeHTML }}
            </p>
            <p>
                {{ $len := len .Params.footer_menu }}
                {{ range $index, $element := .Params.footer_menu }}
                <a href="{{ $element.link }}" title="{{ $element.label }}" class="pt-3">
                    {{ $element.label }}
                </a>
                {{ if not (eq (add $index 1) $len) }}
                <span>|</span>
                {{ end }}
                {{ end }}
            </p>
        </div>
    </div>
</div>