{{with .context}}

<ul class="nav flex-column">
    {{range .}}
    <li class="nav-item">
        <a
            {{with $.target}}
                target="{{.}}"
            {{else}}
                {{if not (findRE "^https://cedreo.com" .URL)}}
                    {{ if not (eq (substr .URL 0 1) "/")}}
                        target="_BLANK"
                    {{ end }}
                {{end}}
            {{end}}
           class="nav-link" title="{{.Name}}"
           {{printf "href=%q" .URL | safeHTMLAttr}}>
            {{.Name}}
        </a>
    </li>
    {{end}}
</ul>

{{end}}