{{ with .context }}

{{$text := ""}}
{{$cta := ""}}
{{$content := ""}}
{{$textcss := ""}}

{{$textcss = ""}}
{{with .align}}
{{$textcss = (index (where $.pagecontext.Site.Data.style.textaligns "name" "eq" .) 0).css }}
{{end}}
{{with .richtext}}
{{$text = partial "shortcode/decode_shortcode_markdownify.html" (dict "content" . "pagecontext" $.pagecontext "cssclasses" "w-100")}}
{{end}}
{{with .cta}}
{{$cta = partial "utils/cta.html" (dict "context" $.pagecontext "cta" (. | safeHTML))}}
{{end}}

{{$divtitle := ""}}
{{$divtext := ""}}
{{$divcta := ""}}
{{$divcontent := ""}}

<!--@formatter:off-->

{{with $text}}
{{$divtext = (printf "%s"  $text) | safeHTML}}
{{$content = printf "%s%s" $content $divtext}}
{{end}}

{{with $cta}}
{{$divcta = (printf "<div class='rich-content w-100'>%s</div>" $cta) | safeHTML}}
{{$content = printf "%s%s" $content $divcta}}
{{end}}

{{with $content}}
{{$divcontent = printf "<div class='d-flex flex-column m-auto %s %s'>%s</div>" $.cssclasses $textcss $content | safeHTML}}
{{end}}

{{$divcontent}}

{{end}}
