{{- $mobile := default "false" $.mobileonly -}}
<ul class="navbar-nav flex-grow-1 justify-content-center flex-row">
    <!--@formatter:off-->
    {{ $currentPage := $.pagecontext }}
    {{ range $.menu }}
        {{ if .HasChildren }}
            {{ $currentActiveClass := "" }}
            {{ if or ($currentPage.HasMenuCurrent .Menu .) ($currentPage.IsMenuCurrent .Menu .)}}
                {{ $currentActiveClass = " active" }}
            {{ end }}
            <li class="nav-item dropdown {{$currentActiveClass}}">
                {{$toggle := printf "navbarDropdownMenuLink%s%s" $mobile .Name | md5}}
                {{- partial "utils/menu_link.html" (dict "context" . "pagecontext" $.pagecontext "toggle" $toggle)}}
                <ul aria-labelledby="{{$toggle}}" class="dropdown-menu bg-dark">
                    {{ range .Children }}
                    {{ $currentActiveClass := "" }}
                    {{ if $currentPage.IsMenuCurrent .Menu . }}
                    {{ $currentActiveClass = " active" }}
                    {{ end }}
                    <li class="nav-item{{$currentActiveClass}}">
                        {{- partial "utils/menu_link.html" (dict "context" . "pagecontext" $.pagecontext)}}
                    </li>
                    {{ end }}
                </ul>
            </li>
        {{ else }}
            {{ $currentActiveClass := "" }}
            {{ if $currentPage.IsMenuCurrent .Menu . }}
                {{ $currentActiveClass = " active" }}
            {{ end }}
        <li class="nav-item{{ $currentActiveClass }}">
            {{- partial "utils/menu_link.html" (dict "context" . "pagecontext" $.pagecontext)}}
        </li>
        {{ end }}
    {{ end }}
    <!--@formatter:on-->
</ul>