<!--TODO document this partial-->
<div class="d-flex flex-column text-center position-absolute p-2 font-weight-bold text-cedreo-white bg-cedreo-transparent-black-7">
    <div class="p-0 w-100">
        {{$taxonomytitles := slice}}
        <!--range over given collection and get pages with given baseurl-->
        <!--@formatter:off-->
        {{range .taxonomies}}
            {{with $.context.Site.GetPage (printf "%s%s" $.baseurl .)}}
                {{$taxonomytitles = union ($taxonomytitles) (slice .Title)}}
            {{end}}
        {{end}}
        <!--@formatter:on-->
        {{with $taxonomytitles}}
        {{delimit (sort .) ", "}}
        {{end}}
    </div>
    <div class="p-0 w-100">
        <p class="m-auto">
            {{- partial "utils/date.html" (dict "date" .context.PublishDate "pattern" "02 January 2006" "context" .context) -}}
        </p>
    </div>
</div>
