<form id='register-form' class="w-100">
    <div class="form-group">
        <label for="register-email">{{.form.emaillabel}}</label>
        <input tabindex='1' type='email' name='register-email'
               class="form-control" id='register-email'
               onfocus='$(this).attr("focused", "true")'
               placeholder='{{.form.emailplaceholder}}'
               onblur='checkForm();' onkeyup='checkForm();'/>
    </div>
    <div class="form-group">
        <label for="register-email-confirm">{{.form.confirmemaillabel}}</label>
        <input tabindex='2' type='email' onpaste="return false"
               class="form-control" name='register-email-confirm'
               onfocus='$(this).attr("focused", "true")' onblur='checkForm();'
               placeholder='{{.form.confirmemailplaceholder}}'
               id='register-email-confirm' onkeyup='checkForm();'/>
    </div>
    <div class="form-check">
        <input tabindex='3' type='checkbox' class="form-check-input"
               name='register-rgpd'
               id='register-rgpd' onfocus='$(this).attr("focused", "true")'
               onblur='checkForm();' onchange='checkForm();'/>
        <label class="form-check-label" for="register-rgpd">{{.form.rgpdlabel | safeHTML}}</label>
    </div>
{{- with .form.privacylabel -}}
    <div class="ft-9">
        {{. | safeHTML}}
    </div>
{{- end -}}
    <button tabindex='4' class="btn g-recaptcha {{.form.buttoncss}}"
            data-sitekey="6LcYTpYUAAAAAIIwpSXNrWh01CZY7siWddavrCRJ"
            data-callback='onSubmit' form-valid='true'
            name='register-button'
            onclick='return false;' id='register-button'>{{.form.buttonlabel}}</button>
    <small id="register-button-help" class="d-inline form-text"></small>
</form>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script cedreo-script='true' type='text/javascript'>
    var hubspotSignupForm = {
        submitForm: function(p_form_guid, p_email, p_acceptMarketing, p_successHandler, p_failureHandler) {
            var hubspotAPIurl =
                "https://api.hsforms.com/submissions/v3/integration/submit/4358184/"
                + p_form_guid;
            $.ajax({
                url: hubspotAPIurl,
                type : 'POST',
                data : JSON.stringify(this.getSubmitData(p_email, p_acceptMarketing)),
                contentType: 'application/json; charset=utf-8',
                success : p_successHandler,
                error: p_failureHandler
            });
        },
        getSubmitData: function(p_email, p_acceptMarketing) {
            return {
                "submittedAt": new Date().getTime(),
                "fields": [
                    {
                        "name": "email",
                        "value": p_email
                    }
                ],
                "context": {
                    "hutk": document.cookie.match(/hubspotutk=([^;]+);/)[1],
                    "pageUri": window.location.href,
                    "pageName": document.title
                },
                "legalConsentOptions": {
                    "consent": {
                        "consentToProcess": true,
                        "text": "Legitimate interest.",
                        "communications": [
                            {
                                "value": p_acceptMarketing,
                                "subscriptionTypeId": 4702567,
                                "text": "{{.form.rgpdlabel}}"
                            }
                        ]
                    }
                }
            };
        }
    }
</script>
<script cedreo-script='true' type='text/javascript'>
    {{- if .isdraft -}}
    var urlWaiIn = "//website-adaptor-in-ppd.cedreo.com/register";
    {{- else -}}
    var urlWaiIn = "//website-adaptor-in.cedreo.com/register";
    {{- end -}}
    var mFillForm = "{{.form.fillform}}";
    var mEmail = "{{.form.email}}";
    var mEmailInvalid = "{{.form.emailinvalid}}";
    var mEmailConfirm = "{{.form.emailconfirm}}";
    var mEmailNoMatch = "{{.form.emailnomatch}}";
    var mWait =  "{{.form.wait}}";
    var mSuccessUrl = {{(printf "\"%s\"" (.form.successurl)) | safeJS}};
    var mErrorRegistered = {{(printf "\"%s\"" (.form.errorregistered)) | safeJS}};
    var mError = "{{.form.error}}";

    function checkForm(){
        var valid = true;
        var email = $('#register-email')[0];
        var emailConfirm = $('#register-email-confirm')[0];
        var register = $('#register-button')[0];
        var smallInfos = $(register).next("small")[0];
        var message = "";
        $('#register-form input').each(function(i, e){e.setCustomValidity('')});
        if(!email.validity.valid || !email.value){
            if(email.getAttribute('focused'))
            {
                email.setCustomValidity(mEmail);
            }
            if(emailConfirm.getAttribute('focused'))
            {
                emailConfirm.setCustomValidity(mEmailConfirm);
            }
            if(!email.value)
            {
                message = mFillForm;
            }
            else {
                message = mEmailInvalid;
                email.setCustomValidity(mEmailInvalid);
            }
            valid = false;
        }
        else if(email.value != emailConfirm.value){
            message = mEmailNoMatch;
            if(emailConfirm.getAttribute('focused'))
                emailConfirm.setCustomValidity(mEmailNoMatch);
            valid = false;
        }
        //register.setAttribute("form-valid", valid);
        register.onfocus = valid ? null : function(){register.blur(); return false;};
        register.title = message;
        if(valid)
            message = "";
        $(smallInfos).removeClass("text-danger text-muted");
        $(smallInfos).addClass(valid ?  "text-muted" : "text-danger");
        smallInfos.innerHTML = message;
        return valid;
    }
    function onSubmit(token) {
        if(checkForm())
        {
            submitRegister();
        }
    }
    function submitRegister(){
        var register = $('#register-button')[0];
        register.disabled = true;
        $(register).next('small')[0].innerHTML = mWait;
        // Submit hubspot no matter
        // submit hubspot first then register.
        hubspotSignupForm.submitForm(
            "{{.form.hubspotguid}}", $('#register-email')[0].value,
            !!$('#register-rgpd')[0].checked,
            function (result) { registerAjaxCall(); },
            function(xhr, resp, text) { registerAjaxCall(); });
        return false;
    }
    function registerAjaxCall() {
        $.ajax({
            url: urlWaiIn,
            type : 'POST',
            data : JSON.stringify(getFormData()),
            contentType: 'application/json; charset=utf-8',
            success : successRegister,
            error: errorRegister
        });
    }
    function getFormData(){
        return {
            'email': $('#register-email')[0].value,
            'rgpd': true
        };
    }
    function successRegister(result){
        grecaptcha.reset();
        var register = $('#register-button')[0];
        var smallInfos = $(register).next("small")[0];
        register.disabled = false;
        window.location = mSuccessUrl;
    }
    function errorRegister(xhr, resp, text){
        grecaptcha.reset();
        var register = $('#register-button')[0];
        var smallInfos = $(register).next("small")[0];
        register.disabled = false;
        $(smallInfos).removeClass("text-muted");
        $(smallInfos).addClass("text-danger");
        if(xhr.status == 409)
            smallInfos.innerHTML = mErrorRegistered;
        else
            smallInfos.innerHTML = mError;
    }
</script>