<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" class="h-100">
    <head>
        {{- partial "head.html" . -}}
        {{- block "canonical" . }}{{- end }}
        {{- block "meta" . }}{{- end }}
        {{- block "schema" . }}{{- end }}
        {{- block "lib" . }}{{- end }}
        {{- if .Site.BuildDrafts -}}
            <!-- Only display in ppd -->
            <meta name="robots" content="noindex">
        {{- end -}}
    </head>
    <body class="d-flex flex-column minh-100">
        <header>
            <!--bootstrap device size detection hack-->
            <div id="device-sizes">
                <div size="xs" class="d-block d-sm-none"></div>
                <div size="sm" class="d-none d-sm-block d-md-none"></div>
                <div size="md" class="d-none d-md-block d-lg-none"></div>
                <div size="lg" class="d-none d-lg-block d-xl-none"></div>
                <div size="xl" class="d-none d-xl-block"></div>
                <script type="text/javascript">
                    function detectDeviceSize(){
                        return $('#device-sizes').find('div:visible').attr('size');
                    }
                </script>
            </div>
            <div id="sticky-header">
                <nav class="ep-header navbar navbar-expand-lg navbar-dark bg-light">
                    <div class="header-nav-container w-100 d-flex flex-nowrap align-items-center container">

                        {{ $rootUrl := "/" | relURL }}
                        <a class="navbar-brand m-0 d-none d-lg-block" href="{{ $rootUrl }}">
                            {{ $logoUrl := "/images/e-p_logo.png" | relURL }}
                            <img alt="Logo" class="header-logo" src="{{ $logoUrl }}">
                        </a>

                        <div class="">
                            <div class="navbar-header-main">
                                {{- partial "utils/header_menu.html" (dict "pagecontext" . "menu" .Site.Menus.main) -}}
                            </div>
                        </div>
                    </div>
                </nav>
                {{- block "sticky-additional" . }}{{- end }}
            </div>
        </header>
        <div id="content" class="flex-grow-1">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer/footer.html" . -}}

        {{- partial "javascript.html" . -}}

        <!-- Forestry live preview  -->
        {{- with .Params.forestry_instant_preview_id -}}
        {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
        {{- end -}}
    </body>
</html>
