<!--render content only-->
{{with .Params.contentonly}}
<div class="breadcrumb-placeholder"></div>
<div class="container p-0 my-5 content-only">
    {{ $.Content }}
</div>
{{else}}
<!--render custom blocs page-->
<!--add a breadcrumb placeholder if  first block is not a background image block-->
<!--@formatter:off-->
{{$addplaceholder := false}}
{{if isset .Params "blocs"}}
    {{if eq (len .Params.blocs) 0}}
        {{$addplaceholder = true}}
    {{else}}
        {{ with (index .Params.blocs 0).style }}
            {{if eq (index .background 0).template "couleur-de-fond"}}
                {{$addplaceholder = true}}
            {{end}}
        {{else}}
            {{$addplaceholder = true}}
        {{end}}
    {{end}}
{{else}}
    {{$addplaceholder = true}}
{{end}}
<!--@formatter:on-->
{{with $addplaceholder}}
<div class="breadcrumb-placeholder"></div>
{{end}}
<!--range over blocs-->
{{range .Params.blocs}}
{{if eq .template "bloc-accueil"}}
{{- partial "main/welcome_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-success-stories"}}
{{- partial "main/success_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-arguments"}}
{{- partial "main/argument_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-features"}}
{{- partial "main/feature_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-blog"}}
{{- partial "main/blog_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-logos"}}
{{- partial "main/logos_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-personalise"}}
{{- partial "main/custom_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "ensemble-blocs-personalises"}}
{{- partial "main/custom_block_list.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "pour-aller-plus-loin"}}
{{- partial "main/for_further_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "faq"}}
{{- partial "main/faq_block.html" (dict "pagecontext" $.Page "context" .) -}}
<!-- Simpler template that utilize all revious one -->
{{else if eq .template "bloc-icon"}}
{{- partial "override/icon_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-columns"}}
{{- partial "override/column_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-table"}}
{{- partial "override/table_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{else if eq .template "bloc-search"}}
{{- partial "main/search_block.html" (dict "pagecontext" $.Page "context" .) -}}
{{end}}
{{end}}
{{end}}