{{define "canonical"}}
<link rel="canonical" href="{{.Page.Permalink}}">
{{ end }}
{{define "main"}}

<div class="d-flex container-fluid p-0 bg-cedreo-white block block-highlighted block-compact-top block-compact-bottom home-first-block" style="">
    <div class="nested-block media-last container p-0">
        <div class="d-flex flex-column m-auto nested-block-2 block mx-2 text-left"><div class="w-100 rich-content">
            <h1 class="first-title w-100">
                Pérenniser votre entreprise dans sa <span class="text-theme-blue">croissance durable et responsable.</span>
            </h1>
            <h3 class="second-title">
                <span class="second-title-fat-number">{{len (where (.GetPage "actions").Pages "Params.draft" false)}}</span> actions <span class="text-theme-green">concrètes</span>, <span class="text-theme-orange">simples</span> à mettre en oeuvre, <span class="text-theme-yellow">pratiques</span> et <span class="text-theme-pink">documentées</span> sont à votre disposition.
            </h3>
            <h2 class="third-title">
                Vous avez une bonne idée à partager ?
            </h2>
        </div>
        <div class="rich-content w-100">
            <span class="d-flex cta">
                <a href="https://us2.list-manage.com/contact-form?u=4d18a9bea164524293f12d29a&form_id=68c890dad83c00157c354b87849711fa" class="btn btn-orange">Contactez-nous</a>
            </span>
        </div>
    </div>

        <div class="m-auto nested-block-2 block mx-2 text-left">
            {{- partial "utils/responsive-image.html" (dict "image" "/uploads/pattern_colors.png" "class" "img-fluid mx-auto" "alt" "" "context" $ "smallSize" "100" "largeSize" "50") -}}
        </div>
    </div>
</div>

{{- partial "content.html" . -}}

{{end}}
{{define "schema"}}
{{- with $.Page.Params.schemajson -}}
<script type="application/ld+json">
    {{ safeHTML (replace $.Page.Params.schemajson "\n" "") }}
</script>
{{- else -}}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type":"WebPage",
        "url":"{{$.Page.Permalink}}",
        "name":"{{$.Page.Title}}",
        "inLanguage":"{{$.Site.LanguageCode}}"
    }
</script>
{{- end -}}
{{end}}
